@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-Black.woff2') format('woff2'),
    url('Nohemi-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-Light.woff2') format('woff2'),
    url('Nohemi-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-ExtraBold.woff2') format('woff2'),
    url('Nohemi-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-Bold.woff2') format('woff2'),
    url('Nohemi-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-ExtraLight.woff2') format('woff2'),
    url('Nohemi-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-SemiBold.woff2') format('woff2'),
    url('Nohemi-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-Regular.woff2') format('woff2'),
    url('Nohemi-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-Medium.woff2') format('woff2'),
    url('Nohemi-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nohemi';
  src: url('Nohemi-Thin.woff2') format('woff2'),
    url('Nohemi-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('ClashDisplay-Extralight.woff2') format('woff2'),
    url('ClashDisplay-Extralight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('ClashDisplay-Light.woff2') format('woff2'),
    url('ClashDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('ClashDisplay-Bold.woff2') format('woff2'),
    url('ClashDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('ClashDisplay-Regular.woff2') format('woff2'),
    url('ClashDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('ClashDisplay-Medium.woff2') format('woff2'),
    url('ClashDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('ClashDisplay-Semibold.woff2') format('woff2'),
    url('ClashDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('ClashDisplayVariable-Bold.woff2') format('woff2'),
    url('ClashDisplayVariable-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-Bd.woff2') format('woff2'),
    url('HelveticaNeueLTStd-Bd.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-Lt.woff2') format('woff2'),
    url('HelveticaNeueLTStd-Lt.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-Md.woff2') format('woff2'),
    url('HelveticaNeueLTStd-Md.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-Roman.woff2') format('woff2'),
    url('HelveticaNeueLTStd-Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-MdEx.woff2') format('woff2'),
    url('HelveticaNeueLTStd-MdEx.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('HelveticaNeueLTStd-MdCn.woff2') format('woff2'),
    url('HelveticaNeueLTStd-MdCn.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro TRIAL';
  src: url('AeonikProTRIAL-Bold.woff2') format('woff2'),
    url('AeonikProTRIAL-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro TRIAL';
  src: url('AeonikProTRIAL-Light.woff2') format('woff2'),
    url('AeonikProTRIAL-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik Pro TRIAL';
  src: url('AeonikProTRIAL-Regular.woff2') format('woff2'),
    url('AeonikProTRIAL-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}