@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Aeonik Pro TRIAL';
  src: url('../assets/fonts/aeonikprotrial-regular.otf') format('truetype'),
       url('../assets/fonts/aeonikprotrial-light.otf') format('truetype'),
       url('../assets/fonts/aeonikprotrial-bold.otf') format('truetype');
  font-weight: 200 400 600 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display Variable';
  src: url('../assets/fonts/ClashDisplay-Variable.ttf') format('truetype'),
       url('../assets/fonts/ClashDisplay-Light.otf') format('truetype'),
       url('../assets/fonts/ClashDisplay-Medium.otf') format('truetype'),
       url('../assets/fonts/ClashDisplay-Regular.otf') format('truetype'),
       url('../assets/fonts/ClashDisplay-Semibold.otf') format('truetype');
  font-weight: 200 400 600 700;
  font-style: normal;
  font-display: swap;
}


body {
  @apply bg-light dark:bg-dark text-dark dark:text-light text-sm lg:text-xl font-primary;
}

.button {
  @apply w-fit bg-dark text-light px-5 py-2 flex items-center gap-2 rounded-full;
}

.section-title {
  @apply text-2xl lg:text-5xl font-semibold text-center pb-5 lg:pb-10 font-secondary text-transparent bg-clip-text;
  background-image: linear-gradient(to bottom, #b1aeae, #000);
}
